<style>

	:root {
		--swiper-pagination-color: rgb(45, 61, 77);
  --swiper-pagination-bullet-size: 24px;
  --swiper-pagination-bullet-width: 24px;
  --swiper-pagination-bullet-height: 24px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  
}




</style>


@*<div class="forthDiv showOMobile">
 
	<section id="sec5">
	<h1 class="mb-3">
			@Localizer["IATA Groups"]
    </h1>

 <div class="slider-area">
        <div class="wrapper">
			
			<div class="item"><img alt="" src="~/public/images/p1.png"></div>
            <div class="item"><img alt="" src="~/public/images/p2.png"></div>
            <div class="item"><img alt="" src="~/public/images/p3.png"></div>
            <div class="item"><img alt="" src="~/public/images/p4.png"></div>
			<div class="item"><img alt="" src="~/public/images/p5.png"></div>
			<div class="item"><img alt="" src="~/public/images/p6.png"></div>
			<div class="item"><img alt="" src="~/public/images/p7.png"></div>
			<div class="item"><img alt="" src="~/public/images/p8.png"></div>
		</div>
	</div>
	<br />
	<div class="slider-area" >
		<div class="wrapper">
			<div class="item"><img alt="" src="~/public/images/p9.png"></div>
			<div class="item"><img alt="" src="~/public/images/p10.png"></div>
			<div class="item"><img alt="" src="~/public/images/p11.png"></div>
			<div class="item"><img alt="" src="~/public/images/p12.png"></div>
			<div class="item"><img alt="" src="~/public/images/p13.png"></div>
			<div class="item"><img alt="" src="~/public/images/p14.png"></div>
			<div class="item"><img alt="" src="~/public/images/p15.png"></div>
			<div class="item"><img alt="" src="~/public/images/p16.png"></div>
			        </div>

    </div>
		<br />

	<div class="slider-area">
		<div class="wrapper">
			<div class="item"><img alt="" src="~/public/images/p17.png"></div>
			<div class="item"><img alt="" src="~/public/images/p18.png"></div>
			<div class="item"><img alt="" src="~/public/images/p19.png"></div>
			<div class="item"><img alt="" src="~/public/images/p20.png"></div>
			<div class="item"><img alt="" src="~/public/images/p21.png"></div>
			<div class="item"><img alt="" src="~/public/images/p22.png"></div>
			<div class="item"><img alt="" src="~/public/images/p23.png"></div>
			<div class="item"><img alt="" src="~/public/images/p24.png"></div>
		</div>
	</div>
		<br />

	<div class="slider-area" >
	<div class="wrapper">
			<div class="item"><img alt="" src="~/public/images/p25.png"></div>
			<div class="item"><img alt="" src="~/public/images/p26.png"></div>
			<div class="item"><img alt="" src="~/public/images/p27.png"></div>
			<div class="item"><img alt="" src="~/public/images/p28.png"></div>
			<div class="item"><img alt="" src="~/public/images/p29.png"></div>
			<div class="item"><img alt="" src="~/public/images/p30.png"></div>
			<div class="item"><img alt="" src="~/public/images/p31.png"></div>
			<div class="item"><img alt="" src="~/public/images/p32.png"></div>

        </div>
    </div>


<br />

	</section>

</div>*@

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<style>
@@media screen and (max-width:768px)
{
	.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 32.66667%;
    max-width: 30.66667%;
}
}
</style>


<div class="hideOnPc1 swiper mySwiper">
	<div class="swiper-wrapper">

		<div class="swiper-slide">
			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p1.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p2.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p3.png"></div>
			</div>
			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p4.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p5.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p6.png"></div>

			</div>
			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p7.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p8.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p9.png"></div>
			</div>
			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p10.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p11.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p12.png"></div>
			</div>

		</div>

		<div class="swiper-slide">

			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p13.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p14.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p15.png"></div>
			</div>

			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p16.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p17.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p18.png"></div>

			</div>

			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p19.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p20.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p21.png"></div>
			</div>
			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p22.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p23.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p24.png"></div>
			</div>
		</div>

		<div class="swiper-slide">
			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p25.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p26.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p27.png"></div>
			</div>
			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p28.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p29.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p30.png"></div>
			</div>
			<div class="row" style="margin:0px;width:100%; justify-content:space-evenly">
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p31.png"></div>
				<div class="col-2 mb-3 imgSlider"><img alt="" src="~/public/images/p32.png"></div>
			</div>
		</div>
	</div>

	@*    <div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>*@
	<br />
	<br />
	<div class="swiper-pagination"></div>
</div>






<div class="swiper mySwiper hideOnMobile">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
		  <div class="row" style="width:100%; justify-content:space-evenly">
			  <div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p1.png"></div>
			  <div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p2.png"></div>
			  <div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p3.png"></div>
			  <div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p4.png"></div>
			</div>
			<div class="row" style="width:100%; justify-content:space-evenly">

				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p5.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p6.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p7.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p8.png"></div>
			</div>
			<div class="row" style="width:100%; justify-content:space-evenly">
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p9.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p10.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p11.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p12.png"></div>
							</div>
			<div class="row" style="width:100%; justify-content:space-evenly">
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p13.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p14.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p15.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p16.png"></div>
		  </div>
	  </div>

		<div class="swiper-slide">
			<div class="row" style="width:100%; justify-content:space-evenly">
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p17.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p18.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p19.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p20.png"></div>
			</div>
			<div class="row" style="width:100%; justify-content:space-evenly">

				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p21.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p22.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p23.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p24.png"></div>
			</div>
			<div class="row" style="width:100%; justify-content:space-evenly">
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p25.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p26.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p27.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p28.png"></div>
			</div>
			<div class="row" style="width:100%; justify-content:space-evenly">
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p29.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p30.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p31.png"></div>
				<div class="col-md-2 mb-3 imgSlider"><img alt="" src="~/public/images/p32.png"></div>
			</div>
		</div>
    </div>

@*    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>*@
	<br />
	<br />
	<div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
		loop: true,

		pagination: {
			el: ".swiper-pagination",
			clickable: true,
			dynamicBullets: true,
		},

      //navigation: {
      //  nextEl: ".swiper-button-next",
      //  prevEl: ".swiper-button-prev",
      //},



    });
  </script>		

