

<link rel="stylesheet" href="~/public/nav/home.css" />

<partial name="_PublicNavBar" style="padding-bottom:65px" />

<br />
<br />
<br />
@*<div class="bg-image">
</div>
*@
<div class="third1Div">

        <section id="sec4">
        @*        <div class="secPadding">
        <br />
        <br />
        <br />
        <br />
        <br />
        </div>*@
        <div class="marginTopOnMobile">
            <br />
            <br />
        </div>


        <h1 class="mb-3">
            @Localizer["About Us"]
    </h1>

    <p>
            @Localizer["AboutUsContent"]
            </p>

    <h1 class="mb-3">
            @Localizer["Business Philosophy:"]
    </h1>
    <p>

            @Localizer["BusinessContent"]

    </p>

    </section>
    </div>

<partial name="_Footer" style="display:flex" />

