


<link rel="stylesheet" href="~/public/nav/home.css" />

<partial name="_PublicNavBar" style="padding-bottom:65px" />

<br />
<br />
<br />
@*<div class="bg-image">
</div>*@

<partial name="_HomeFifthSection" style="display:flex" />


<partial name="_Footer" style="display:flex" />

