
@{
    string preferredCulture = ViewBag.PreferredCulture;

}

<style>

    .parentRow
    {
        place-content:center;
    }

    .childRow
    {
        box-shadow: 6px 6px 6px 0px rgba(19, 80, 81, 0.50);
        width: 100%;
        background-color: #BFD9DA;
        align-items: center;
        border-radius: 20px;
    }

    .childCol
    {
        color: black;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }

    .childImg
    {
        max-width: 100%

    }


</style>


@*<partial name="_AdminHorzBar" />*@


@*<h2 class="mb-4">Sidebar #01</h2>*@

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
</nav>



    
    <div class="row parentRow">

        <div class="col-md-5 mb-5">

            <div class="form-groub">

                <div class="row childRow">
                    <div class="col-md-8 childCol">

                        <label>
                            570
                        </label>
                        <br />
                        <label>
                            Total number
                            of patients
                        </label>

                    </div>

                    <div class="col-md-4">
                    
                        <img src="~/admin/images/taskIcon.png" class="childImg" />
                            
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-5 mb-5">

            <div class="form-groub">

                <div class="row childRow">
                    <div class="col-md-8 childCol">

                        <label>
                            120
                        </label>
                        <br />
                        <label>
                        Number of patients
                        per day
                        </label>

                    </div>

                    <div class="col-md-4">

                    <img src="~/admin/images/taskIcon.png" class="childImg" />

                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="row parentRow">

        <div class="col-md-5 mb-5">

            <div class="form-groub">

                <div class="row childRow">
                    <div class="col-md-8 childCol">

                        <label>
                            540
                        </label>
                        <br />
                        <label>
                        Total number
                        of appointments
                        </label>

                    </div>

                    <div class="col-md-4">

                    <img src="~/admin/images/calendarIcon.png" class="childImg" />

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-5 mb-5">

            <div class="form-groub">

                <div class="row childRow">
                    <div class="col-md-8 childCol">

                        <label>
                            540
                        </label>
                        <br />
                        <label>
                        Number of appointments
                        per day
                        </label>

                    </div>

                    <div class="col-md-4">

                    <img src="~/admin/images/calendarIcon.png" class="childImg" />

                    </div>

                </div>

            </div>

        </div>

    </div>

        <div class="row parentRow">

        <div class="col-md-5 mb-5">

            <div class="form-groub">

                <div class="row childRow">
                    <div class="col-md-8 childCol">

                        <label>
                            540
                        </label>
                        <br />
                        <label>
                        Total number
                        of doctors
                        </label>

                    </div>

                    <div class="col-md-4">

                    <img src="~/admin/images/stethoscopeIcon.png" class="childImg" />

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-5 mb-5">

            <div class="form-groub">

                <div class="row childRow">
                    <div class="col-md-8 childCol">

                        <label>
                            570
                        </label>
                        <br />
                        <label>
                        Incoming
                        </label>

                    </div>

                    <div class="col-md-4">

                    <img src="~/admin/images/dollarIcon.png" class="childImg" />

                    </div>

                </div>

            </div>

        </div>

    </div>

















