@model ShiftTable    



<div class="k-edit-label">
    <label asp-for="ShiftName"></label>
</div>

<div class="k-edit-field">
    <input asp-for="ShiftName" />
</div>


<div class="k-edit-label">
    <label asp-for="StartTime" ></label>
</div>

<div class="k-edit-field">
    <input asp-for="StartTime" />
</div>

<div class="k-edit-label">
    <label asp-for="EndTime" ></label>
</div>

<div class="k-edit-field">
    <input asp-for="EndTime" />
</div>


@*<div id="additionalLanguagesContainer"></div>
<div class="k-edit-label"></div>
<div class="k-edit-field">
    <button class="k-button k-primary" id="addLanguageButton">Add Language</button>
</div>*@
