@model ClinicSpeciality    



<div class="k-edit-label">
    <label for="description">Description (English)</label>
</div>

<div class="k-edit-field">
    <input type="text" class="k-input k-textbox" id="ClinincSpecialityTranslations[0].Description" name="ClinincSpecialityTranslations[0].Description" required  data-required-msg="This field is required."/>
</div>

<div class="k-edit-label">
    <label for="arabicDescription">Description (Arabic)</label>
</div>

<div class="k-edit-field">
    <input type="text" class="k-input k-textbox" id="ClinincSpecialityTranslations[1].Description" name="ClinincSpecialityTranslations[1].Description" required data-required-msg="This field is required." />
</div>

@*<div id="additionalLanguagesContainer"></div>
<div class="k-edit-label"></div>
<div class="k-edit-field">
    <button class="k-button k-primary" id="addLanguageButton">Add Language</button>
</div>*@
