<!DOCTYPE html>
<html>
<head>
    <title>ASR|CMS</title>


    

</head>
<body dir="@Localizer["dir"]">
    <!-- Include the navigation bar partial view -->
    <partial name="_AdminNavBar" />

    <div class="parallax first-section wow fadeIn">

        <div class="container" style="margin-left: 0px;margin-right: 0px;">
            @RenderBody()
        </div>
    </div>

    <!-- Your other layout content here -->
</body>
</html>