<!DOCTYPE html>
<html>
<head>
    <title>Al Ketbi</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="icon" href="~/public/images/smallLogo.png" sizes="24x24" />


    @* For Navigation Bar*@

    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <link rel="stylesheet" href="~/nb/css/style.css">







    <script nonce="c3723fd1-847f-45f3-bfb0-eda7d28dddba">(function (w, d) { !function (du, dv, dw, dx) { du[dw] = du[dw] || {}; du[dw].executed = []; du.zaraz = { deferred: [], listeners: [] }; du.zaraz.q = []; du.zaraz._f = function (dy) { return async function () { var dz = Array.prototype.slice.call(arguments); du.zaraz.q.push({ m: dy, a: dz }) } }; for (const dA of ["track", "set", "debug"]) du.zaraz[dA] = du.zaraz._f(dA); du.zaraz.init = () => { var dB = dv.getElementsByTagName(dx)[0], dC = dv.createElement(dx), dD = dv.getElementsByTagName("title")[0]; dD && (du[dw].t = dv.getElementsByTagName("title")[0].text); du[dw].x = Math.random(); du[dw].w = du.screen.width; du[dw].h = du.screen.height; du[dw].j = du.innerHeight; du[dw].e = du.innerWidth; du[dw].l = du.location.href; du[dw].r = dv.referrer; du[dw].k = du.screen.colorDepth; du[dw].n = dv.characterSet; du[dw].o = (new Date).getTimezoneOffset(); if (du.dataLayer) for (const dH of Object.entries(Object.entries(dataLayer).reduce(((dI, dJ) => ({ ...dI[1], ...dJ[1] })), {}))) zaraz.set(dH[0], dH[1], { scope: "page" }); du[dw].q = []; for (; du.zaraz.q.length;) { const dK = du.zaraz.q.shift(); du[dw].q.push(dK) } dC.defer = !0; for (const dL of [localStorage, sessionStorage]) Object.keys(dL || {}).filter((dN => dN.startsWith("_zaraz_"))).forEach((dM => { try { du[dw]["z_" + dM.slice(7)] = JSON.parse(dL.getItem(dM)) } catch { du[dw]["z_" + dM.slice(7)] = dL.getItem(dM) } })); dC.referrerPolicy = "origin"; dC.src = "../../../cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(du[dw]))); dB.parentNode.insertBefore(dC, dB) };["complete", "interactive"].includes(dv.readyState) ? zaraz.init() : du.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>




    @* End Navigation Bar*@




</head>
<body style="background-color:white">
    <div class="wrapper d-flex align-items-stretch">

        <partial name="_AdminSideBar" />

        <div id="content" class="p-4 p-md-5">
            <partial name="_AdminHorzBar" />



            @RenderBody()
        </div>
    </div>
</body>

<link href="~/KendoUi/styles/kendo.default-turquoise.min.css" rel="stylesheet" type="text/css" />




<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


    @* For Navigation Bar*@

<script src="~/nb/js/jquery.min.js"></script>
<script src="~/nb/js/popper.js"></script>
<script src="~/nb/js/bootstrap.min.js"></script>
<script src="~/nb/js/main.js"></script>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"81c6ce3a3cdce3ab","b":1,"version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>


@* End Navigation Bar*@


<script src="~/KendoUi/js/jquery.min.js"></script>
<script src="~/KendoUi/js/jszip.min.js"></script>
<script src="~/KendoUi/js/kendo.all.min.js"></script>
<script src="~/KendoUi/js/kendo.aspnetmvc.min.js"></script>

    @RenderSection("Scripts", required: false)
</html>

<style>

    #tglBar {
        display: none;
    }

@@media screen and (max-width:768px)
{
        #tglBar {
            display: block;
        }
    }

</style>



